<p>&lt;</p>
<div style="width: 90%; text-align: center;">
  <p style="text-align: center;">
    <span style="font-family: helvetica, arial, sans-serif;"
      ><img
        src="http://mahiki.com/london/images/logo.png"
        alt="MAHIKI"
        width="121"
        height="82"
    /></span>
  </p>
  <p>
    <span style="font-size: 18pt; font-family: helvetica, arial, sans-serif;"
      >Thank you for your event enquiry.
    </span>
  </p>
  <p>
    <span style="font-size: 12pt; font-family: helvetica, arial, sans-serif;"
      >We have received your request&nbsp;- a member of our reservations team
      will be in contact soon.
    </span>
  </p>
  <p>
    <span style="font-size: 10pt; font-family: helvetica, arial, sans-serif;"
      >For same day reservations and parties over 10, call
      <a href="tel:+442074939529">0207 493 9529</a>.
    </span>
  </p>
  <p><span style="font-family: helvetica, arial, sans-serif;">&nbsp;</span></p>
  <p>
    <span style="font-family: helvetica, arial, sans-serif;"
      ><strong
        ><span style="font-size: 12pt;">Enquiry Details</span>
      </strong></span
    >
  </p>
  <table
    style="width: 80%; border-color: #000000; margin-left: auto; margin-right: auto;"
  >
    <tbody>
      <tr>
        <th style="width: 29.0639%; text-align: right;">Name:</th>
        <td style="width: 65.9361%; text-align: left;">{{ name }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">Email:</th>
        <td style="width: 65.9361%; text-align: left;">{{ email }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">Phone:</th>
        <td style="width: 65.9361%; text-align: left;">{{ phone }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">Date:</th>
        <td style="width: 65.9361%; text-align: left;">{{ date }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">Type of Event:</th>
        <td style="width: 65.9361%; text-align: left;">{{ toe }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">Timing:</th>
        <td style="width: 65.9361%; text-align: left;">{{ eoln }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">Arrival Time:</th>
        <td style="width: 65.9361%; text-align: left;">{{ time }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">No. of People:</th>
        <td style="width: 65.9361%; text-align: left;">{{ numpeople }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">DJ</th>
        <td style="width: 65.9361%; text-align: left;">{{ dj }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">Food</th>
        <td style="width: 65.9361%; text-align: left;">{{ food }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">Cocktails</th>
        <td style="width: 65.9361%; text-align: left;">{{ cocktails }}</td>
      </tr>
      <tr>
        <th style="width: 29.0639%; text-align: right;">
          Additional Requests:
        </th>
        <td style="width: 65.9361%; text-align: left;">{{ additional }}</td>
      </tr>
    </tbody>
  </table>
</div>
